
@{
    ViewData["Title"] = "UnexpectedError";
}

<section style="min-height: 550px" class="d-flex center pt-5">
    <div>
        <h2 class="center text-danger">Unexpected Error Occured</h2>
        <h6>Please contact admin.</h6>
        <div class="" style="width: 100%; display:flex; justify-content:center;">
            <a class="btn btn-primary mt-5" asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>
    </div>
</section>


