
@{
    ViewData["Title"] = "New Design Scheme";
}

<section style="display: flex; padding: 0;">
    <div style="
                    width: 100%;
                    max-height: 100vh;
                    display: flex;
                    justify-content: center;
                    padding-top: 100px;
                    box-sizing: border-box;
                ">
        <form enctype="multipart/form-data" method="post" asp-controller="DesignScheme" asp-action="New">
            <div style="flex-direction: column; display: flex; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <div class="typo__heading__3" style="background-color: #ededed; width: 100%; padding: 24px; ">
                    New Design Scheme
                </div>
                <div style="flex-direction: column; display: flex; padding: 24px;">

                    <input accept="image/*" type="file" name="img_deigSceheme" id="img_deigSceheme" />
                    <input type="text"
                           name="Title"
                           placeholder="Title"
                           style="margin-top: 16px" />
                    <textarea name="Description" id="" cols="" rows="1" class="title typo__para__1" style="margin-top: 16px;" placeholder="Description"></textarea>
                    <input type="number"
                           name="Price"
                           placeholder="Price"
                           style="margin-top: 10px" />
                    <div class="right" style="margin-top: 30px;">
                        <div style="display: flex; gap: 16px;">
                            <button type="button" class="text__button">Cancel</button>
                            <input type="submit" class="filled__button" value="Add">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>


