@model RaythosAerospace101.ViewModels.CustomizedPlane__InvInvoice
@{
    ViewData["Title"] = "ManageOrders";
}

<div class="container-md pt-5">

    @*<div class="d-flex w-100" style="justify-content:end">
            <a asp-controller="Plane" asp-action="Add" class="btn btn-secondary">New Plane</a>
        </div>*@
    <div class="row">
        <div style="width: 100%; display:flex; justify-content:end;">
            <div style="display: flex">
                <button class="text-white btn btn-success mx-1 mb-0 align-middle">Aeroplanes</button>
                <button class=" btn btn-warning mx-1 mb-0 align-middle">Spare Parts</button>
            </div>

        </div>

        <div style="min-height:400px" class="mt-4">
            @if (Model.CustomizedPlanes.Count > 0)
            {
                <table class="table table-hover mb-5">
                    <thead>
                        <tr>
                            <th scope="col">Model</th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CustomizedPlanes)
                        {
                            <tr>
                                <td class="align-middle">@*@item.nak*@</td>

                                <td class="align-middle">Value</td>


                                <td class="align-middle">
                                    <button class="text-white btn btn-primary mx-1 mb-0 align-middle">Pay Now ()</button>

                                </td>



                            </tr>

                        }
                    </tbody>
                </table>
            }else { 
                <h2>No Aeroplane Orders Found</h2>
            }
        </div>

    </div>

</div>

<script>

    function firstHide(id) {
        document.getElementById("1delete " + id).classList.add("d-none");
        document.getElementById("2delete " + id).classList.remove("d-none");
    }
</script>
