<div class="admin__menu">
    <div style="margin-top: 24px;" class="img__logo__full"></div>
    <a asp-controller="admin" asp-action="Index" style="margin-top: 110px;" class="admin_radio">
        <input type="radio" @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "checked" : "") checked id="menu_1" name="admin_radio">
        <label for="menu_1">
            <div class="dot">
                <div class="dot__content"></div>
            </div>
            <div class="text">Dashboard</div>
        </label>
    </a>
    <div class="admin_radio">
        <input type="radio" id="menu_2" name="admin_radio">
        <label for="menu_2">
            <div class="dot">
                <div class="dot__content"></div>
            </div>
            <div class="text">My Oders</div>
        </label>
    </div>
    <div class="admin_radio">
        <input type="radio" id="menu_3" name="admin_radio">
        <label for="menu_3">
            <div class="dot">
                <div class="dot__content"></div>
            </div>
            <div class="text">Cart</div>
        </label>
    </div>
    <div class="admin_radio">
        <input type="radio" id="menu_4" name="admin_radio">
        <label for="menu_4">
            <div class="dot">
                <div class="dot__content"></div>
            </div>
            <div class="text">My Profile</div>
        </label>
    </div>
    <div class="admin_radio">
        <input type="radio" id="menu_5" name="admin_radio">
        <label for="menu_5">
            <div class="dot">
                <div class="dot__content"></div>
            </div>
            <div class="text">Aircrafts</div>
        </label>
    </div>
    <div class="admin_radio">
        <input type="radio" id="menu_6" name="admin_radio">
        <label for="menu_6">
            <div class="dot">
                <div class="dot__content"></div>
            </div>
            <div class="text">Spare Parts</div>
        </label>
    </div>
    <div class="admin_radio">
        <input type="radio" id="menu_7" name="admin_radio">
        <label for="menu_7">
            <div class="dot">
                <div class="dot__content"></div>
            </div>
            <div class="text">Users</div>
        </label>
    </div>
    <div class="admin_radio">
        <input type="radio" id="menu_8" name="admin_radio">
        <label for="menu_8">
            <div class="dot">
                <div class="dot__content"></div>
            </div>
            <div class="text">Application</div>
        </label>
    </div>
</div>