<div class="heading v__center">
    <div style="display: flex; align-items: center; width: 100%; justify-content: space-between;">
        <div class="img__logo_word">Raythos Aerospace</div>
        <div style="display: flex; align-items: center; gap: 16px;">

            <a asp-controller="User" asp-action="Index"  class="heading__link">Login</a>
            <a asp-controller="User" asp-action="Index"  type="button" class="filled__button">Go to Store</a>
        </div>
    </div>
</div>