<footer>
    <div style="width: 100%;" class="center">
        <div class="logo__linkedIn"></div>
        <div class="logo__fb"></div>
        <div class="logo__insta"></div>
        <div class="logo__youtube"></div>
    </div>
    <div style="margin-top: 1.5rem;" class="typo__subHeading__2 center">Raythos Aerospace  |  Sri Lanka</div>
</footer>