
@{
    ViewData["Title"] = "Shop";
}

<div class="container-md mb-5">
    <div class="row">
        <div class="col-12 col-sm-6 mt-3">
            <div class="card__shop__plane">
                <div style="background-image: url(../../../assets/app/planes/challenger650.png);"></div>
                <div class="typo__subHeading__3 mt-4">Bombraider Challenger 650</div>
                <div style="margin-top: 36px;" class="center">
                    <button type="button" class="filled__button">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

